---

import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";
import dayjs from "dayjs";

import Blog from '../../layouts/Blog.astro';

import '../../styles/global.scss';

export async function getStaticPaths() {
    const articles = await getCollection('blog');
    return articles.map(article => ({
        params: {
            id: article.id,
            slug: article.data.slug
        },
        props: { article },
    }));
}

export const prerender = true;

const { article } = Astro.props;
const { Content } = await render(article);

---

<style lang="scss">
    @use '../../styles/_breakpoints.scss' as device;

    :global(.blog-article-tag){
        display: inline-block;
        background-color: var(--dark-gray);
        padding: var(--space-8-xxxs) var(--space-12-xxs);
        color: var(--light-gray);
        border-radius:40px;

        &:hover{
            background-color:var(--celeste);
            color:var(--light-gray);
        }
    }

    .article-content{
        padding-bottom:var(--space-32-s);
        border-bottom: 2px solid var(--dark-gray);

        .article-metadata{
            display: flex;
            flex-direction: column;
            row-gap: var(--space-32-s);

            .article-cat-date{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .blog-category{
                    display: inline-block;
                    font-size: var(--h6);
                    font-weight: normal;
                    line-height: var(--line-height-h6);
                    width: fit-content;
                    border-radius: 24px;
                    margin:0;
                    
                    a{
                        color: inherit;
                    }
                }
                .article-pub-date{
                    font-size: var(--p);
                    line-height: var(--line-height-p);
                }
            }

            
            .article-tags{
                display:flex;
                flex-wrap: wrap;
                gap:var(--space-20-xs);
                font-size: var(--p);
                line-height: var(--line-height-p);
            }

            .featured-image{
                width: calc(100% + (20px * 2));
                transform: translateX(-20px);
                height: auto;
            }

            .article-excerpt{
                margin:0;
            }
        } // article metadata

        :global(.article-body){

            // headings
            :global(:is(h1)){
                font-size: var(--h2);
                line-height: var(--line-height-h2);
            }

            :global(:is(h1,h2)){
                margin-top:var(--space-100-xxl);
                margin-bottom: var(--space-32-s);
                font-weight: normal;
            }

            :global(:is(h3,h4,h5,h6)){
                margin-top:var(--space-76-xl);
                margin-bottom: var(--space-32-s);
                font-weight: normal;
            }

            :global(h4){
                margin-bottom: var(--space-20-xs);
            }

            :global(:is(h5,h6)){
                margin-top: var(--space-60-l);
                margin-bottom: var(--space-20-xs);
                font-weight: normal;
            }

            // paragraphs
            :global(p){
                margin:var(--space-20-xs) 0;

                :global(a){
                    text-decoration: underline;
                    &:global(:hover){
                        color:var(--munsell);
                    }

                    &.data-footnote-backref{
                        text-decoration: none;
                    }
                }
            }

            // blockquotes
            :global(blockquote){
                background-color: var(--platinum);
                margin: 0;
                padding: var(--space-12-xxs) var(--space-20-xs);
                border-left: 6px solid var(--pink);
                :global(*){
                    color: var(--tomato);
                }
            }

            // images
            :global(img){
                width: calc(100% + (20px * 2));
                transform: translateX(-20px);
                height: auto;
                margin-top: var(--space-20-xs);
            }
            :global(img + em){
                display: block;
                margin-top:var(--space-8-xxxs);
                font-size: var(--p);
                line-height: var(--line-height-p);
                margin-bottom: var(--space-32-s);
            }
            
            // code blocks
            :global(code){
                background-color: var(--gunmetal);
                color: var(--light-gray);
                font-family: monospace;
                font-size: var(--small);
                line-height: var(--line-height-small);
                padding:.25em var(--space-8-xxxs);
            }

            :global(pre){
                background-color: var(--gunmetal);
                padding:var(--space-8-xxxs);
                :global(code){
                    padding: unset;
                    font-size: var(--small);
                    line-height: var(--line-height-small);
                }
            }

            :global(pre[data-language="plaintext"]){
                :global(code *){
                    font-size: var(--small);
                    line-height: var(--line-height-small);
                    color: var(--light-gray);
                }
            }

            :global(code *){
                font-family: monospace;
            }

            // tables
            :global(table){
                border:1px solid var(--dark-gray);
                border-collapse: collapse;
                width: 100%;

                :global(th){
                    padding: var(--space-8-xxxs);
                    border-bottom: 1px solid var(--dark-gray);
                    border-right: 1px solid var(--dark-gray);
                    text-align: left;
                    font-family: 'vremena-grotesk-medium', sans-serif;
                    font-weight: normal;
                }
                :global(tr:nth-of-type(odd)){
                    :global(td){
                        background-color:var(--platinum);
                    }
                }

                :global(td){
                    padding: .25rem var(--space-8-xxxs);
                    border-bottom: 1px solid var(--dark-gray);
                    border-right: 1px solid var(--dark-gray);
                }
            }

            // hr
            :global(hr){
                border: 1px solid var(--dark-gray);
            }

            // footnotes
            :global(section.footnotes){
                :global(h2){
                    font-size: var(--h4);
                    line-height: var(--line-height-h4);
                }
            }
  
        } // article content
    } // article content

    .blog-header{
        display: flex;
        flex-direction: column;
        row-gap: var(--space-20-xs);
        margin-bottom:var(--space-76-xl);

        h1{
            text-transform: none;
        }

        h2{
            font-size: var(--h6);
            font-weight: normal;
            line-height: var(--line-height-h6);
            margin:0;

            a{
                color:var(--dark-gray);

                .back-arrow{
                    stroke: var(--dark-gray);
                    stroke-width: 2px;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                }

                &:hover{
                    color:var(--celeste);
                    .back-arrow{
                        stroke:var(--celeste);
                    }
                }
            }
        }
    } //blog header, specific to article page

    @media only screen and (min-width: device.$tablet){
        
        :global(.article-page){
            
            section.blog-header{
                grid-column: 1/5;
                margin: 0;
            }

            article.article-content{
                grid-column: 3/7;
                grid-row: 2/4;
                border-bottom: unset;

                .article-metadata{
                    .article-cat-date{
                        justify-content: flex-start;
                        column-gap: var(--space-8-xxxs);
                    }
                }

                .blog-category{
                    font-size: var(--h5);
                    line-height: var(--line-height-h5);
                }

                p.article-pub-date{
                    margin:0;
                }

                .article-metadata .featured-image{
                    width: 100%;
                    transform: unset;
                }

                .article-body{
                    :global(img){
                        width: 100%;
                        transform: unset;
                    }
                }
                
            } // article content

        } // site wrapper for article page

    } // tablet

    @media only screen and (min-width: device.$laptop){
        :global(.article-page){

            section.blog-header{
                grid-column: 1/5;
            }

            .article-content{
                .article-metadata{
                    .article-cat-date{
                        .blog-category{
                            font-size: var(--h5);
                            line-height: var(--line-height-h5);
                        }
                    } // article cat date

                    .article-tags{
                        .blog-article-tag{
                            font-size: var(--h6);
                            line-height: var(--line-height-h6);
                        }
                    }
                } // article metadata
            } // article content
        } // article page
    }

    @media only screen and (min-width: device.$desktop){
        :global(.article-page){
            section.blog-header{
                grid-column: 1/7;
                margin: 0;
            }

            article.article-content{
                grid-column: 5/11;
            }
        }
    }
</style>

<Blog isArticle pageName={article.data.title}>

    <section class="blog-header" slot="header">
        <h1>{article.data.title}</h1>
        <h2>
            <a href="/blog/">
                <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23 10H1.91667M10.1667 1L1 10L10.1667 19" class="back-arrow"/>
                </svg>                
                Go Back
            </a>
            </h2>
    </section>

    <article class="article-content" slot="content">
        <section class="article-metadata">
            <div class="article-cat-date">
                <h3 class="blog-category"><a href={`/blog/categories/${article.data.category.toLowerCase()}`}>{article.data.category}</a></h3>
                <p class="article-pub-date">{dayjs(article.data.datePublished).format('MMM D, YYYY')}</p>
            </div>
            <div class="article-tags">
                {
                    article.data.tags.map((tag) => (
                        <a href={`/blog/tags/${tag}`} class="blog-article-tag">#{tag}</a>
                    ))
                }
            </div>
            {article.data.featuredImage &&
                    <Image
                        src={article.data.featuredImage}
                        alt={article.data.title}
                        class="featured-image"
                        loading="lazy"
                        widths={[article.data.featuredImage.width / 3, article.data.featuredImage.width / 2, article.data.featuredImage.width]}
                        sizes={`(max-width: 810px) ${article.data.featuredImage.width / 3}, (max-width: 1200px) ${article.data.featuredImage.width / 2},(max-width: 1440px) ${article.data.featuredImage.width}`}
                        decoding="async"
                        quality="max"
                        style={`background-color:white;`}
                    />
            }
            <p class="article-excerpt">{article.data.excerpt}</p>
        </section>
        <section class="article-body">
            <Content />
        </section>
    </article>

</Blog>