---

import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import dayjs from "dayjs";

import '../../styles/global.scss';

import Blog from '../../layouts/Blog.astro';

const articles = await getCollection('blog', ({ data }) => {
    return data.draft !== true;
});

articles.sort((a,b) => {
    const dateA = new Date(a.data.datePublished);
    const dateB = new Date(b.data.datePublished);
    return dateB.getTime() - dateA.getTime();
});

---

<style lang="scss">
    @use '../../styles/_breakpoints.scss' as device;
</style>

<Blog>

    <section class="blog-header" slot="header">
        <h1><a href="/blog">Notes on the endpapers</a></h1>
        <p>This would be the blog description, a few words about what I intend to write... I guess?</p>
    </section>

    <section class="blog-content" slot="content">
        <section class="blog-articles">
            { articles.map(article => (
                <article class:list={[{"featured" : article.data.featured}]}>
                    <div class="top-content">
                        {article.data.featuredImage &&
                            <a href={`/blog/${article.data.slug}`}>
                                <Image
                                    src={article.data.featuredImage}
                                    alt={article.data.title}
                                    class="featured-image"
                                    loading="lazy"
                                    widths={[article.data.featuredImage.width / 3, article.data.featuredImage.width / 2, article.data.featuredImage.width]}
                                    sizes={`(max-width: 810px) ${article.data.featuredImage.width / 3}, (max-width: 1200px) ${article.data.featuredImage.width / 2},(max-width: 1440px) ${article.data.featuredImage.width}`}
                                    decoding="async"
                                    style={`background-color:white;`}
                                />
                            </a>
                        }
                        
                        <div class="article-metadata">
                            <span class="blog-category"><a href={`/blog/categories/${article.data.category.toLowerCase()}`}>{article.data.category}</a></span>
                            <span class="article-pub-date">
                                {dayjs(article.data.datePublished).format('MMM D, YYYY')} 
                            </span>
                        </div>
                    </div>
                    <div class="text-content">
                        <a href={`/blog/${article.data.slug}`}><h3>{article.data.title}</h3></a>
                        <p>{article.data.excerpt}</p>
                    </div>
                </article>
            ))}
        </section>
    </section>
    
</Blog>