---

import { Image } from "astro:assets";
import dayjs from "dayjs";
import Blog from '../../../layouts/Blog.astro';

import '../../../styles/global.scss';

const { category } = Astro.params;

import { getCollection } from 'astro:content';
const blogPosts = await getCollection('blog', ({ data }) => {
  return data.category.toLowerCase() === category?.toLowerCase();
});

let categories = [...new Set(blogPosts.map((post) => {
        return (post.data.category.toLocaleLowerCase());
    }).flat()
)];

console.log(categories)

function capitalize(val:string | undefined) {
    return String(val).charAt(0).toUpperCase() + String(val).slice(1);
}

---

<style lang="scss">
    @use '../../../styles/_breakpoints.scss' as device;

    .blog-content{
        h2{
            color:var(--celeste);
        }
    }
</style>

<Blog>

    <section class="blog-header" slot="header">
        <h1><a href="/blog">Notes on the endpapers</a></h1>
        <p>This would be the blog description, a few words about what I intend to write... I guess?</p>
    </section>

    <section class="blog-content" slot="content">
        <h2>{capitalize(category)}</h2>
       <section class="blog-articles">
            {  
                blogPosts.map((article) => (
                    <article class:list={[{"featured" : article.data.featured}]}>
                        <div class="top-content">
                            {article.data.featuredImage &&
                                <a href={`/blog/${article.data.slug}`}>
                                    <Image
                                        src={article.data.featuredImage}
                                        alt={article.data.title}
                                        class="featured-image"
                                        loading="lazy"
                                        widths={[article.data.featuredImage.width / 3, article.data.featuredImage.width / 2, article.data.featuredImage.width]}
                                        sizes={`(max-width: 810px) ${article.data.featuredImage.width / 3}, (max-width: 1200px) ${article.data.featuredImage.width / 2},(max-width: 1440px) ${article.data.featuredImage.width}`}
                                        decoding="async"
                                        style={`background-color:white;`}
                                    />
                                </a>
                            }
                            
                            <div class="article-metadata">
                                <span class="blog-category">{article.data.category}</span>
                                    <span class="article-pub-date">{dayjs(article.data.datePublished).format('MMM D, YYYY')}</span>
                            </div>
                        </div>
                        <div class="text-content">
                            <a href={`/blog/${article.data.slug}`}><h3>{article.data.title}</h3></a>
                            <p>{article.data.excerpt}</p>
                        </div>
                    </article>
            ))}
       </section>
    </section>
    
</Blog>